@model Indexresp
@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="slogan-box">
        <p class="tagline d-inline">尋找最佳方案</p>
        <p>因應不同產業需求，提供最適合的資安解決方案</p>
    </div>
</div>

<div class="row">
    <div class="row col-md-12">
        <div class="d-flex flex-column align-items-end me-4">
            <div class="d-flex">
                <a asp-action="Create" class="me-2">
                    <input type="submit" value="+ 新增產品" class="add-btn btn" />
                </a>
                <a asp-action="CreateCategory">
                    <input type="submit" value="+ 新增類別" class="add-btn btn" />
                </a>
            </div>
            @* <form class="col-4 mb-2">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" placeholder="Name" name="searchString" />
                    <input class="btn btn-sm btn-primary search-btn" type="submit" value="Search" />
                </div>
            </form> *@
        </div>
    </div>
    <div class="container p-3 ms-3">
        <div class="row">
            <div class="col-md-2 p-2 me-4">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="btn category-btn active mb-3 w-100">全部產品</a>
                    </li>
                    @foreach (var item in Model.Categories)
                    {
                        <li class="nav-item">
                            <a class="btn category-btn mb-3 w-100" data-id="@item.Id" data-name="@item.Name">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-10 row product-area pe-4">
                @foreach (var item in Model.Products)
                {
                    @if (item.CanOrder)
                    {
                        <div class="col-md-4 product-card"
                                data-category-name="@item.Category.Name"
                                data-name="@item.Name"
                                data-description="@item.Description">
                            @foreach (var img in Model.Imgsrc[item.Id])
                            {
                                <img class="mb-3" src="@img" />
                            }
                            <div class="col-md-12 category-name d-inline">@item.Category.Name</div>
                            <h5 class="title-name mt-2">@item.Name</h5>
                            <div class="product-description pe-5">@item.Description</div>
                            <div class="product-item mt-3">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>
                            <button class="btn plus-button">+</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4 product-card"
                             data-category-name="@item.Category.Name"
                             data-name="@item.Name"
                             data-description="@item.Description">
                            <span class="product-label sold-out">已下架</span>
                            @foreach (var img in Model.Imgsrc[item.Id])
                            {
                                <img class="mb-3" src="@img" />
                            }
                            <div class="col-md-12 category-name d-inline">@item.Category.Name</div>
                            <h5 class="title-name mt-2">@item.Name</h5>
                            <div class="product-description pe-5">@item.Description</div>
                            <div class="product-item mt-3">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    $('.category-btn').on('click', function () {
            
        const id = $(this).attr('data-id');

        fetch(`/Products/CategoryFilter?id=${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(result => {
            console.log('成功:', result);
            $('.product-area').empty();

            result.forEach(product => {
                if (product.canOrder) {
                    $('.product-area').append(`
                        <div class="col-md-4 product-card">
                            <img class="mb-3" id="${product.id}" />
                            <div class="col-md-12 category-name d-inline">${name}</div>
                            <h5 class=" mt-3">${product.name}</h5>
                            <div class="product-description pe-5">${product.description}</div>
                            <div class="product-item mt-3">
                                <a asp-action="Edit" asp-route-id="id="${product.id}">Edit</a> |
                                <a asp-action="Delete" asp-route-id="id="${product.id}">Delete</a> |
                                <a asp-action="Details" asp-route-id="id="${product.id}">Details</a>
                            </div>
                            <button class="btn btn-primary plus-button">+</button>
                        </div>
                    `);
                }
                else {
                    $('.product-area').append(`
                        <div class="col-md-4 product-card">
                            <span class="product-label sold-out">已下架</span>
                            <img class="mb-3" id="id="${product.id}"" />
                            <div class="col-md-12 category-name d-inline">${name}</div>
                            <h5 class=" mt-3">${product.name}</h5>
                            <div class="product-description pe-5">${product.description}</div>
                            <div class="product-item mt-3">
                                <a asp-action="Edit" asp-route-id="id="${product.id}">Edit</a> |
                                <a asp-action="Delete" asp-route-id="id="${product.id}"">Delete</a> |
                                <a asp-action="Details" asp-route-id="id="${product.id}"">Details</a>
                            </div>
                        </div>
                    `);
                }
            });
        })
        .catch(error => {
            console.error('錯誤:', error);
        });
    });

    // $('.search-btn').on('click', function () {
            
    //     var searchStringValue = document.querySelector('input[name="searchString"]').value;

    //     fetch(`/Products/SearchProduct?searchString=${searchStringValue}`, {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //     })
    //     .then(response => {
    //         if (!response.ok) {
    //             throw new Error('网络响应失败：' + response.status);
    //         }
    //         return response.text();
    //     })
    //     .then(text => {
    //         $('.product-area').empty();
    //         const result = JSON.parse(text);
            
    //         console.log('成功:', result);
    //         result.forEach(product => {
    //             if (product.canOrder) {
    //                 $('.product-area').append(`

    //                     <div class="col-md-4 product-card">
    //                         <img class="mb-3" id="${product.id}" />
    //                         <div class="col-md-12 category-name d-inline">${name}</div>
    //                         <h5 class=" mt-3">${product.name}</h5>
    //                         <div class="product-description pe-5">${product.description}</div>
    //                         <div class="product-item mt-3">
    //                             <a asp-action="Edit" asp-route-id="id="${product.id}"">Edit</a> |
    //                             <a asp-action="Delete" asp-route-id="id="${product.id}"">Delete</a> |
    //                             <a asp-action="Details" asp-route-id="id="${product.id}">Details</a>
    //                         </div>
    //                         <button class="btn btn-primary plus-button">+</button>
    //                     </div>
    //                 `);
    //             }
    //             else {
    //                 $('.product-area').append(`
    //                     <div class="col-md-4 product-card">
    //                         <span class="product-label sold-out">已下架</span>
    //                         <img class="mb-3" id="id="${product.id}"" />
    //                         <div class="col-md-12 category-name d-inline">${name}</div>
    //                         <h5 class=" mt-3">${product.name}</h5>
    //                         <div class="product-description pe-5">${product.description}</div>
    //                         <div class="product-item mt-3">
    //                             <a asp-action="Edit" asp-route-id="id="${product.id}"">Edit</a> |
    //                             <a asp-action="Delete" asp-route-id="id="${product.id}"">Delete</a> |
    //                             <a asp-action="Details" asp-route-id="id="${product.id}"">Details</a>
    //                         </div>
    //                     </div>
    //                 `);
    //             }
    //         });

    //     })
    //     .catch(error => {
    //         console.error('錯誤:', error);
    //     });
    // });

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.plus-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                const productDiv = this.closest('.product-card');

                const productName = productDiv.getAttribute('data-name');
                const productCategory = productDiv.getAttribute('data-category-name');

                const amount = 1;

                fetch('/Shipment/SaveOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ "ProductName": productName, "Amount": amount, "Category": productCategory })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            window.location.href = "/Shipment/Index";
                        } else {
                            alert('加入購物車發生錯誤');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    });

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('error') && urlParams.get('error') === 'true') {
            swal.fire({
                    title: "此產品於兩周內上架，不可編輯",
                icon: "error"
            });
        }
    });
    
</script>
}