@model Indexresp
@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="logo">
        <img src="../../images/changing_logo.png" />
        <span>全景產品管理後台</span>
    </div>
    <a asp-controller="Shipment" asp-action="Index" class="order-btn">
        <input type="submit" value="待出貨清單" class="btn" />
    </a>
    <div class="slogan-box">
        <p class="tagline d-inline">尋找最佳方案</p>
        <p>因應不同產業需求，提供最適合的資安解決方案</p>
    </div>
</div>

<div class="row">
    <div class="row col-md-12">
        <div class="d-flex flex-column align-items-end">
            <div class="d-flex">
                <a asp-action="Create" class="me-2 mb-2">
                    <input type="submit" value="+ 新增產品" class="add-product btn btn-primary" />
                </a>
                <a asp-action="CreateCategory">
                    <input type="submit" value="+ 新增類別" class="add-product btn btn-secondary" />
                </a>
            </div>
            <form asp-action="Index" method="get" class="col-4 mb-2">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" placeholder="Name" name="searchString" />
                    <input class="btn btn-sm btn-primary" type="submit" value="Search" />
                </div>
            </form>
        </div>
    </div>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-2 p-2 me-4">
                @foreach (var item in Model.Categories)
                {
                    <button class="btn category-btn mb-3 w-100" data-id="@item.Id" data-name="@item.Name">@item.Name</button>
                }
            </div>
            <div class="col-md-10 row product-area pe-4">
                @foreach (var item in Model.Products)
                {
                    @if (item.CanOrder)
                    {
                        <div class="col-md-4 product-card"
                                data-image="@item.Image"
                                data-category-name="@item.Category.Name"
                                data-name="@item.Name"
                                data-description="@item.Description">
                            <img class="mb-4" id="@item.Id" />
                            <div class="col-md-12 category-name d-inline">@item.Category.Name</div>
                            <h5>@item.Name</h5>
                            <div>@item.Description</div>
                            <div class="product-item">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>
                            <button class="btn btn-primary plus-button">+</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4 product-card"
                             data-image="@item.Image"
                             data-category-name="@item.Category.Name"
                             data-name="@item.Name"
                             data-description="@item.Description">
                            <span class="product-label sold-out">已下架</span>
                            <img class="mb-4" id="@item.Id" />
                            <div class="col-md-12 category-name d-inline mt-4">@item.Category.Name</div>
                            <h5>@item.Name</h5>
                            <div>@item.Description</div>
                            <div class="product-item">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>

    $('.category-btn').on('click', function () {
            
        const id = $(this).attr('data-id');

        fetch(`/Products/CategoryFilter?id=${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(result => {
            console.log('成功:', result);
            $('.product-area').empty();

            result.forEach(product => {
                $('.product-area').append(`
                    <div class="col-md-4 product-card">
                        <img id="${product.id}" />
                        <div class="col-md-12 category-name d-inline">
                        </div>
                        <div>
                            ${product.name}
                        </div>
                        <div class="category-description">
                            ${product.description}
                        </div>
                        <button class="add-shipment">+</button>
                        <a asp-action="Edit" asp-route-id="${product.id}">Edit</a>
                    </div>
                `);
            });

        })
        .catch(error => {
            console.error('錯誤:', error);
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.add-shipment').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                const productDiv = this.closest('.product-list');

                const productName = productDiv.getAttribute('data-name');
                const productCategory = productDiv.getAttribute('data-category-name');

                const amount = 1;

                fetch('/Shipment/SaveOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ "ProductName": productName, "Amount": amount, "Category": productCategory })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            window.location.href = "/Shipment/Index";
                        } else {
                            alert('加入購物車發生錯誤');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    });

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('error') && urlParams.get('error') === 'true') {
            swal.fire({
                title: "Cannot be edited within two weeks of shelfing",
                icon: "error"
            });
        }
    });
    
</script>
}