@model IEnumerable<t02_ShopCMS.Entity.ShipmentList>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shipment";
}

<h2>ShopCMS</h2>

<div class="row">
    <span>待出貨清單</span>
    <div class="row shipment-list">
        @foreach (var item in Model)
        {
            <div class="form-check col-1">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault"></label>
            </div>
            <div class="row shipment-item col-11">
                <img class="col-2" />
                <div class="col-5">
                    <div class="category-item d-inline" data-Category="@item.Category">
                        @item.Category
                    </div>
                    <div data-ProductName="@item.ProductName">
                        @item.ProductName
                    </div>
                    <div data-OrderNumber="@item.OrderNumber">
                        訂單編號:  @item.OrderNumber
                    </div>
                </div>
                <div class="row col-3">
                    <form id='myform' method='POST' action='#'>
                        <input type='button' value='-' class='qtyminus' field='quantity' />
                        <input type='text' name='quantity' value='@item.Amount' class='qty' data-Amount="@item.Amount" data-Id="@item.Id" />
                        <input type='button' value='+' class='qtyplus' field='quantity' />
                    </form>
                </div>
                <div class="col-1 form-group">
                    <input type="submit" value="Delete" class="delete-btn btn-danger btn" data-id="@item.Id" />
                </div>
            </div>
         }
    </div>
    <div>
        <input type="submit" value="出貨" class="add-product btn" />
    </div>
</div>
@section Scripts {
<script>
    $(function () {
            $('.qtyplus').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var fieldName = $this.attr('field');
                var dataId = $this.siblings('input[name=' + fieldName + ']').data('id');

                var $input = $('input[name=' + fieldName + '][data-id="' + dataId + '"]');
                var currentVal = parseInt($input.val());

                if (!isNaN(currentVal)) {
                    $input.val(currentVal + 1);
                } else {
                    $input.val(0);
                }
            });

            $('.qtyminus').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var fieldName = $this.attr('field');
                var dataId = $this.siblings('input[name=' + fieldName + ']').data('id');

                var $input = $('input[name=' + fieldName + '][data-id="' + dataId + '"]');
                var currentVal = parseInt($input.val());

                if (!isNaN(currentVal) && currentVal > 0) {
                    $input.val(currentVal - 1);
                } else {
                    $input.val(0);
                }
            });
    });

    $('.delete-btn').on('click', function () {
        const id = $(this).attr('data-id');
        console.log(id)

        fetch(`/Shipment/Delete?id=${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(result => {
                console.log('成功:', result);
                location.reload();

            })
            .catch(error => {
                console.error('錯誤:', error);
            });
    })

</script>
}